@page "/enrollments/details"
@using Microsoft.EntityFrameworkCore
@using FinalAssignemnt_APDP.Data
@inject IDbContextFactory<FinalAssignemnt_APDP.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Enrollment</h2>
    <hr />
    @if (enrollment is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">StudentID</dt>
            <dd class="col-sm-10">@enrollment.StudentID</dd>
            <dt class="col-sm-2">CourseID</dt>
            <dd class="col-sm-10">@enrollment.CourseID</dd>
        </dl>
        <div>
            <a href="@($"/enrollments/edit?id={enrollment.Id}")">Edit</a> |
            <a href="@($"/enrollments")">Back to List</a>
        </div>
    }
</div>

@code {
    private Enrollment? enrollment;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        enrollment = await context.Enrollments.FirstOrDefaultAsync(m => m.Id == Id);

        if (enrollment is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
