@page "/enrollments"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using FinalAssignemnt_APDP.Data
@using FinalAssignemnt_APDP.Data
@implements IAsyncDisposable
@inject IDbContextFactory<FinalAssignemnt_APDP.Data.ApplicationDbContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="enrollments/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Enrollments">
    <PropertyColumn Property="enrollment => enrollment.StudentID" />
    <PropertyColumn Property="enrollment => enrollment.CourseID" />

    <TemplateColumn Context="enrollment">
        <a href="@($"enrollments/edit?id={enrollment.Id}")">Edit</a> |
        <a href="@($"enrollments/details?id={enrollment.Id}")">Details</a> |
        <a href="@($"enrollments/delete?id={enrollment.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private ApplicationDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
