@rendermode InteractiveServer
@page "/departments/edit"
@using Microsoft.EntityFrameworkCore
@using FinalAssignemnt_APDP.Data
@inject IDbContextFactory<FinalAssignemnt_APDP.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager
@inject FinalAssignemnt_APDP.Services.ToastQueue Toasts

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Department</h2>
<hr />
@if (Department is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Department" OnValidSubmit="UpdateDepartment" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Department.Id" value="@Department.Id" />
                <div class="mb-3">
                    <label for="name" class="form-label">Name:</label>
                    <InputText id="name" @bind-Value="Department.Name" class="form-control" />
                    <ValidationMessage For="() => Department.Name" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/departments">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Department? Department { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Department ??= await context.Departments.FirstOrDefaultAsync(m => m.Id == Id);

        if (Department is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task UpdateDepartment()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Department!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!DepartmentExists(Department!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        Toasts.Enqueue("Cập nhật phòng ban thành công", FinalAssignemnt_APDP.Services.ToastType.Success);
        NavigationManager.NavigateTo("/departments");
    }

    private bool DepartmentExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Departments.Any(e => e.Id == id);
    }
}
