@page "/courses/create"
@using Microsoft.EntityFrameworkCore
@using FinalAssignemnt_APDP.Data
@inject IDbContextFactory<FinalAssignemnt_APDP.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Course</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Course" OnValidSubmit="AddCourse" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="name" class="form-label">Name:</label> 
                <InputText id="name" @bind-Value="Course.Name" class="form-control" /> 
                <ValidationMessage For="() => Course.Name" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="subjectid" class="form-label">SubjectID:</label> 
                <InputNumber id="subjectid" @bind-Value="Course.SubjectID" class="form-control" /> 
                <ValidationMessage For="() => Course.SubjectID" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="semesterid" class="form-label">SemesterID:</label> 
                <InputNumber id="semesterid" @bind-Value="Course.SemesterID" class="form-control" /> 
                <ValidationMessage For="() => Course.SemesterID" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="lectureid" class="form-label">LectureID:</label> 
                <InputText id="lectureid" @bind-Value="Course.LectureID" class="form-control" /> 
                <ValidationMessage For="() => Course.LectureID" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/courses">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Course Course { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddCourse()
    {
        using var context = DbFactory.CreateDbContext();
        context.Courses.Add(Course);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/courses");
    }
}
