@page "/subjects"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using FinalAssignemnt_APDP.Data
@using FinalAssignemnt_APDP.Data
@using FinalAssignemnt_APDP.Constants
@implements IAsyncDisposable
@inject IDbContextFactory<FinalAssignemnt_APDP.Data.ApplicationDbContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="@AppRoutes.SubjectsCreate">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Subjects">
    <PropertyColumn Property="subject => subject.Code" />
    <PropertyColumn Property="subject => subject.Name" />

    <TemplateColumn Context="subject">
        <a href="@AppRoutes.SubjectsEdit(subject.Id)">Edit</a> |
        <a href="@AppRoutes.SubjectsDetails(subject.Id)">Details</a> |
        <a href="@AppRoutes.SubjectsDelete(subject.Id)">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private ApplicationDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
